* {
    margin: 0;
    padding: 0;
} 
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

} .slider {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid black;
    
} .box {
    width: auto;
    display: flex;

}  img {
    width: 300px;
    height: 300px;

} #atual {
    margin-left: 0;
    transition: all 0.5s;
}
button {
    position: absolute;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 100px;
    cursor: pointer;

} #frente {
    margin-left: 250px;
} #tras {
    margin-right: 250px;
} i {
    color: #fff;
    font-size: 20px;
} 





